.inicio{
    display: flex;
}

.inicioContainer{
    flex: 6;
}

h2 {
    margin: 40px 30px;
    text-align: left;
}

.grafico{
    display: flex;
}

.widgetsInicio{
    display: flex;
    margin: 20px;
}

/* Esconde os Scrolls */
html{
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0;
    background:transparent;}